.users-list__name {
	font-size: 16px;
	font-weight: bold;
}

.users-list__company-name {
	font-size: 14px;
}

.users-list__see {
	font-size: 12px;
	margin-top: 10%;
}

.button {
	background-color: white;
	color: black;
	border: 2px solid #008cba;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-size: 12px;
}

.button:hover {
	background-color: #008cba;
	color: white;
}

a {
	color: black !important;
	text-decoration: none !important;
}
a:hover {
	color: white !important;
}
